# 00 basic first class

In [1]:
a = 56
b = 90

a+b

146

In [2]:
a = 5
type(a)

int

In [3]:
b = 9.09
type(b)

float

In [5]:
n = 'vfsfvs'
type(n)

str

In [9]:
z = 928659824.487528750239570923   # truncating the ddecimal
print(z)

928659824.4875288

In [10]:
a = 8347857

print(a==b)

False

In [18]:
atom = ' C'  # it can be in singla as well as double qute
type(atom)

str

In [19]:
a + b

8347866.09

In [20]:
a*b

75882020.13

In [21]:
a/b

918356.1056105611

In [22]:
atom1 = 'C in 6th place'

In [23]:
atom1+atom

'C in 6th place C'

In [24]:
a = ["collection of atom", "af", "ssr"]

type(a)

list

In [27]:
b = ["zd","342","efaef","eadad","##"]

In [28]:
type(b)

list

In [29]:
print(b[0])

zd

In [30]:
print(b[-1])

##

In [31]:
print(b[-3])

efaef

In [32]:
s = ["@#4",["asf","afdaf"]]

print(s[1][0])

asf

In [33]:
atom = " my name is kutta "

In [34]:
atom[0]

' '

In [35]:
atom[8]

' '

In [36]:
atom[9]

'i'

In [40]:
atom[0:10:3]

'  mi'

In [41]:
atominfo = [[1,29,'H'],[2,53,'S'],[3,34,'C'],[4,45,'D']] # atomic number and atomic mass and their symbol

In [42]:
mydict = {'Ar': 28, 'C':12, 'O':8}  # dictionary of variour type to store key value pair

In [43]:
mydict['C']

12

In [44]:
mydict = {"a": 1, "b": 2}
print(mydict['a'])
print(mydict['b'])
print(mydict.keys())

1
2
dict_keys(['a', 'b'])

In [45]:
a = [1,2,3]          # type casting
b = a
b[2] = 30
print(a[2])

30

In [46]:
a = {}
a['a'] = 1
a['b'] = 2
print(a)
print(a.values())

{'a': 1, 'b': 2}
dict_values([1, 2])

In [47]:
a={}

In [49]:
a = [23,"@3",45]

if 23 in a:
    print("exist")
else:
    prtint("not")

exist

In [51]:
# loop

for i in range(1,9):
    print(i*i)

1
4
9
16
25
36
49
64

In [53]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

## Combining loops/ list-comprehension:

In [54]:
a = range(0,10)
res = [i for i in a if (i%2 == 0)]
print(res)

[0, 2, 4, 6, 8]

In [55]:
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1] 
print(odd_square)

[1, 9, 25, 49, 81]

In [58]:
f = open("data.txt", "r")
lines = f.readlines()
for line in lines:
    vals = [float(i) for i in line.split()]
    print(vals)

[1.0, 2.0, 3.0, 3.0]
[1.0, 33.0, 44.0, 55.0]
[11.0, 334.0, 55.0]
[1.0, 13.0, 44.0, 5.0]

In [59]:
vals = [1.0, 2.0,3.0]
with open("test", "w") as f:
    f.write(" ".join([str(i) for i in vals]))

In [60]:
f = open("test_file", "w")
for i in range(1,10):
  for j in range(10,1,-1):
    f.write("%f  %f  %f \n" % (i, j, i+j) )
f.close()

In [61]:
f = open("test_file", "r")
data = []
for line in f:
  vals = line.split()
  vals = [float(i) for i in vals]
  data.append(vals)
f.close()

In [62]:
a = ["my", "Name", "is", "X"]
print("-".join(a))
print(" ".join(a))
print("==".join(a))

my-Name-is-X
my Name is X
my==Name==is==X

FileNotFoundError: [Errno 2] No such file or directory: 'data'